# Compiled Object files
*.o
*.ko
*.obj
*.elf

# Compiled Libraries
*.lib
*.a
*.la
*.lo

# Shared Objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# Kernel Module Files
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers

# Build
/bin/
/build/
/main
